<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121492084-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121492084-1');
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83806060-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83806060-11');
    </script>


    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2503150939696528');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=2503150939696528&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <meta charset="utf-8" />
    @*<title>@Page.Title - Akira Web Solutions</title>*@
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <style>
        ul.sitemap {
            display: inline-block
        }

        a:active, a:hover, a:link, a:visited {
            color: #fff
        }

        .footersocial {
            text-align: center;
            padding-right: 15%;
            max-height: 100%
        }

    </style>
    <section class="navigation">
        @*<div class="nav-container">
            <div class="brand">
                <a href="~/Default" title=" Home - Phoenix Pet Sitting Services">

                <img src="~/Images/4e00196f423d6e8f3296ceda1f54031c.png" alt="Phoenix Pet Sitting Logo" style="width:124px;" />
                </a>
            </div>*@
            <nav>
                @*<div class="nav-mobile"><a id="nav-toggle" href="#!" title="Expand"><span></span></a></div>
                <ul class="nav-list">*@
                    @*<li>
                        <a href="~/Default" title=" Home - Phoenix Pet Sitting Services">Home</a>
                    </li>
                    <li>
                        <a href="~/About" title="About Our Pet Sitting Team">About</a>
                    </li>
                    <li>
                        <a href="#!" title="Expand">Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="~/WebDevelopment" title="Website Development Information"></a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#Responsive Web Design" title="Responsive Website Design Information"></a>
                            </li>

                            <li>
                                <a href="~/WebDevelopment#SEO" title="SEO Website Information"></a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#ASP" title="ASP.NET Website Information"></a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#SSL" title="SSL Website Information"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#four">Rates</a>
                    </li>
                    <li>
                        <a href="~/Testimonials">Testimonials</a>
                    </li>*@
                <p style="text-align:center;">Phoenix Pet Sitting - Belly-Rub Specialists!  Bonded*Insured*Pet CPR & First Aid Certified  <a href="tel:+14807034155" title="Call now for Phoenix Pet Sitting"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle; " alt="Phone" /><span style="font-weight:bold;">(480) 703-4155</span></a></p>
                    
                        <a class="button2" href="~/Contact.cshtml#Contact" style="background-color:green;">Contact</a>
                  
                   
                 

                        <a class="button2" href="https://www.powerpetsitter.net/login.aspx?bid=8468" style="background-color:green;">Create Profile</a>
                    
                        <a class="button2" href="https://www.powerpetsitter.net/client/check_zipcode.aspx?id=8468" style="background-color:dodgerblue;">Request Service</a>
                 

            </nav>

        

    </section>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            @*<div>
                    <p class="textSection" style="font-size:26px; color:white;">
                        <br />   <br />   <br />   <br />   <br />   <br />   <br /><hr />
                        Akira Web Solutions is an established web development company in Arizona, with clients throughout the US.

                        Call us for website design, development, graphic design services, and responsive website design for mobile-friendly websites.

                        Don't pay for over priced web designers when you can have the professional quality and national experience right here for less with Akira Web Solutions.
                    </p>

                </div>*@
        </section>
    </div>
    <footer>

        @*<div class="content-wrapper">

                <div class="float-left">
                    <ul class="sitemap">
                        <li>
                            <a href="~/Default" title=" Home - SEO, Website Design, Website Building">Home</a>
                        </li>
                        <li>
                            <a href="~/About" title="About Our Website Design Team">About</a>
                        </li>
                        <li>
                            <a href="~/WebDevelopment" title="About Our Website development">Web Development</a>
                        </li>
                        <li>
                            <a href="~/WebDevelopment#Responsive Web Design" title="About Our Responsive Website Design">Responsive Website Design</a>
                        </li>
                    </ul>

                    <ul class="sitemap">
                        <li>
                            <a href="~/WebDevelopment#SEO" title="About Our Website SEO">Search Engine Optimization</a>
                        </li>
                        <li>
                            <a href="~/Pricing" title="About Our Website Pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="~/WebDevelopmentPortfolio" title="view our previous work and current clients">Portfolio</a>
                        </li>
                        <li>
                            <a href="~/Contact" title="Contanct Information for Website Serices">Contact</a>
                        </li>
                    </ul>
                    <ul class="sitemap">
                        <li>
                            <a href="~/WebDevelopment#ASP" title="About Our Website coded in ASP.NET">ASP.NET VS. Wordpress</a>
                        </li>
                        <li>
                            <a href="~/FAQ" title="Commonly asked website questions and answers">FAQ</a>
                        </li>

                    </ul>
                </div>
            </div>*@
        <div class="footersocial" style="padding-top:5px;">
           
            <div class="fb-like" data-href="https://www.facebook.com/PhoenixPetSitting/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="bottom:5px;"></div>
            <a href="https://twitter.com/phoenixpetsit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow &#64 phoenixpetsit</a>
            <div class="g-follow" data-href="https://plus.google.com/+PhoenixPetSitting" data-rel="relationshipType"></div>

        </div>
        <div class="float-right">

            <p>&copy; @DateTime.Now.Year - Phoenix Pet Sitting. All Rights Reserved.</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script>!function (n) { n(function () { n("nav ul li a:not(:only-child)").click(function (i) { n(this).siblings(".nav-dropdown").toggle(), n(".nav-dropdown").not(n(this).siblings()).hide(), i.stopPropagation() }), n("html").click(function () { n(".nav-dropdown").hide() }), n("#nav-toggle").click(function () { n("nav ul").slideToggle() }), n("#nav-toggle").on("click", function () { this.classList.toggle("active") }) }) }(jQuery);</script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
