<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121492084-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121492084-1');
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83806060-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83806060-11');
    </script>


    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2503150939696528');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=2503150939696528&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <meta charset="utf-8" />
    @*<title>@Page.Title - Akira Web Solutions</title>*@
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon-16x16.png">
    <link rel="manifest" href="Images/site.webmanifest">
    <link rel="mask-icon" href="Images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <style>
        ul.sitemap {
            display: inline-block
        }

        a:active, a:hover, a:link, a:visited {
            color: #fff
        }

        .footersocial {
            text-align: center;
            padding-right: 15%;
            max-height: 100%
        }

    </style>
    <section class="navigation">
        <img src="~/Images/LOGO_PhoenixPetSitting_Rectangular.png" style="max-width:100%;"/>
        <a class="button2" href="~/Contact.cshtml#Contact" style=" background-color:goldenrod;">Schedule a FREE Initial Consultation</a>




        <a class="button2" href="https://www.powerpetsitter.net/login.aspx?bid=8468" style="background-color:goldenrod;">Create Profile</a>

        <a class="button2" href="https://www.powerpetsitter.net/client/check_zipcode.aspx?id=8468" style="background-color:goldenrod;">Request Service</a>
        <nav>

            @*<p style="text-align:center; margin-top:0px;">Phoenix Pet Sitting - Belly-Rub Specialists!  Bonded*Insured*Pet CPR & First Aid Certified  <a href="tel:+14807034155" title="Call now for Phoenix Pet Sitting"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle; " alt="Phone" /><span style="font-weight:bold;">(480) 703-4155</span></a></p>*@




        </nav>



    </section>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            
        </section>
    </div>
    <footer>

        
        <div class="footersocial" style="padding-top:5px; padding-right:0px; text-align:center;">

            <div class="fb-like" data-href="https://www.facebook.com/PhoenixPetSitting/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="bottom:5px;"></div>
            <a href="https://twitter.com/phoenixpetsit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow &#64 phoenixpetsit</a>
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?text=Hello%20world"
               data-size="small">
                Tweet
            </a>
            <div class="g-follow" data-href="https://plus.google.com/+PhoenixPetSitting" data-rel="relationshipType"></div>

            <p style="text-align:center; text-indent:0px; padding-bottom:0px; padding-top:12.5px;">&copy; @DateTime.Now.Year - Phoenix Pet Sitting. All Rights Reserved.</p>
            <p style="text-align:center; text-indent:0px; padding-top:0px; padding-bottom:0px;">
                Design by
                <a href="https://www.akirawebsolutions.com" style="padding:0px;">AkiraWebSolutions.com </a>
            </p>

        </div>
        <div class="float-right">

            
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script>!function (n) { n(function () { n("nav ul li a:not(:only-child)").click(function (i) { n(this).siblings(".nav-dropdown").toggle(), n(".nav-dropdown").not(n(this).siblings()).hide(), i.stopPropagation() }), n("html").click(function () { n(".nav-dropdown").hide() }), n("#nav-toggle").click(function () { n("nav ul").slideToggle() }), n("#nav-toggle").on("click", function () { this.classList.toggle("active") }) }) }(jQuery);</script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
